.form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 70px;
}.form button {
    margin-top: 35px;
    background-color: #ff4d4f;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    border-style: none;
    font-weight: bold;
    transition: 0.3s;
}