
//** Nav Bar **//

.navbar{
    position: fixed !important;
    top: 0;
    padding: 0px !important;
    z-index: 1000;
    height: 8vh;
    width: 100%;
    background-color: #fffffffb;
    color: aliceblue;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav-hovered{
    background: #ffffff07;
    transition: 0.3s;
}


.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}.logo{
    width: 110px;
}



.nav-links{
    display: flex;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: flex-end;
    
}


.nav-link{
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    font-weight: 700;
} 
.nav-link a{
    margin-right: 2.2rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}.nav-link a:hover{
    transition: 0.2s;
    background: #7f040ad8;
    color: white;
}



//submenu

.submenu{
    position: absolute;
    top: 54px;
    margin-left: -46px;
    background: #fffffffb;
    z-index: 1;
}
.submenu  a{
    list-style-type: none;
    font-weight: 400;
}.submenu  a:hover{
    background: #fffffffb;
    color: #7f040ad8;
}


.nav-menu{
    display: flex;
    justify-content: center;
}


//cart-browser

.nav-btn{
    display: flex;
}
.container {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 225px;
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgba(233, 233, 233, 0.021);
    transition: all 0.3s ease;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

.checkbox:checked ~ .mainbox {
    width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
    margin-bottom: 16px;
    padding-right: 8px;
}

.checkbox {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 6px;
    padding-left: 9px;
    font-size: 1em;
    color: black;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
    color: black;
}

.iconContainer {
    box-sizing: border-box;
    padding-top: 6px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: black;
    font-size: 1.3em;
}

.bar{
    color: rgba(65, 63, 63, 0.178);
    font-weight: 200;
    position: relative;
    top: -9px;
    right: 6px;

}
.cart{
    width: 25px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    top: 2px;
    
}
.total-detail{
    position: relative;
    bottom: 39px;
    color: aliceblue;
    font-size: 8px;
    left: 13px;
}