.item-count{
    display: flex;
    width: 222px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: 45px;
}
.controls{
    gap: 4px;
    display: flex;
}.controls button{
    height: 40px;
    padding: 8px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.74);
    border-style: none;
    border-radius: 5px;
}.controls p{
    position: relative;
    top: 8px;
}

.agregarAlCarrito{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
    background-color: rgba(128, 0, 0, 0.747);
}